/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.searchKeyUp{
	width: 850px!important;
	transition: 2s;
}
.search{
	transition: 2s;
}
body{
	background: url('../images/bgmusic.jpg') no-repeat;
	background-size: cover;
}
header{
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}
.hello{
	color: red;
}
.readed{
	background-color: white;
}
.unread{
	background-color: #eee!important;
}
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #3597db;
	background: url("../images/iconOK.png");
	background-size: cover;
	background-color: #3597db; 
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}	

.one-note{
	border-bottom: 1px solid #007bff;
}
.media{
	padding: 10px 0px;
}
.input-group-text{
	border: none;
	background: white;
}
.pagado{
	padding: 10px;
}
.notification-artist{
	width: 10%; 
	float: left;
	margin: 0px 10px;
}
.notification-container{
	width: 85%;
	float: left;
}
.notification{
	width: 80%;
	float: left;
}
.notification-readmore{
	width: 20%;
	float: left;
}
.notification-readmore button{
	width: 60%;
	float: right;
	background-color: white;
	border: none;
}
.notification-readmore:hover .img-button{
	transform: rotate(360deg);
	transition: 2s;
}
